:root {
    --background-color: rgb(207, 207, 207);
    --icon-color: rgb(63, 63, 63);
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    cursor: pointer;
}

div.empty {
    height: 20px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 2px 25px rgba(0,0,0,0.3),
                0px 2px 5px rgba(0,0,0,0.5);
    border-radius: 20px;
    display: flex;
    place-content: center;
    align-items: center;
    margin-bottom: 3vh;
    padding: 1em 1.3em;
}

div.empty span {
    color: rgb(187, 3, 3);
    font-size: 1.5em;
}

div.eatery {
    width: 700px;
    height: auto;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    margin-bottom: 3vh;
    padding-bottom: 1.5em;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.3),
                0px 2px 5px rgba(0,0,0,0.5);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 240px 300px 1fr;
    grid-template-rows: 60px 72px auto 100px auto;
    grid-template-areas:
                "img name name type "
                ". hours address . "
                ". phone website . "
                ". star star . "
                ". reviews reviews ."
                ;
}

div.eatery div.img {
    grid-area: img;
    display: grid;
    align-content: end;
    justify-content: center;
}

div.eatery div.img svg {
    height: 40px;
    width: 40px;
}

div.eatery div.img svg circle {
    fill: rgba(6, 99, 175, 0.8);
}

div.eatery div.img svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
}

div.eatery div.name {
    grid-area: name;
    color: var(--icon-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: end;
    gap: 20px;
}

div.eatery div.name h2 {
    margin-bottom: 8px;
}

div.eatery h1 {
    font-size: 30px;
    margin: 0;
}

div.eatery h2 {
    color: var(--icon-color);
    font-size: 15px;
    margin: 0;
}

div.eatery p, div.eatery span, div.eatery a {
    margin: 0;
    font-size: 15px;
}

div.eatery div.hours {
    grid-area: hours;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
    padding-top: 22px;
}

div.eatery div.hours h2 {
    align-self: end;
    grid-column: 1;
    margin: 0;
}

div.eatery div.hours p {
    align-self: end;
    grid-column: 2;
}

div.eatery div.hours span {
    align-self: start;
    grid-column: 2;
}
div.eatery div.hours span.open {
    color: rgb(23, 99, 23);
}
div.eatery div.hours span.closed {
    color: rgb(187, 3, 3);
}

div.eatery div.address {
    grid-area: address;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}
div.eatery div.website {
    grid-area: website;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}
div.eatery div.phone {
    grid-area: phone;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

div.eatery div.star-rating {
    grid-area: star;
    position: relative;
    display: grid;
    grid-template-columns: 90px 1fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 10px;
    margin-top: 25px;
}

div.eatery div.star-rating > h2 {
    position: absolute;
    top: 0;
    left: 0;
}

div.eatery div.star-rating div.rating-container {
    font-size: 15px;
    color: rgba(134, 133, 133, 0.3);
    width: 5em;
    justify-self: center;
    position: relative;
}

div.eatery div.star-rating div.rating-desc {
    font-size: 1.5em;
    color: var(--icon-color);
    display: inline-block;
}

div.eatery div.star-rating div.rating-container div.rating{
    color: rgb(250, 220, 49);
    position: absolute;
    overflow: hidden;
    --rating-percent: 0%;
    width: var(--rating-percent);
}

div.eatery div.star-rating div.rating-desc label:hover {
    color: rgba(6, 99, 175, 0.8);
}

div.eatery div.star-rating div.rating-desc label:hover span::after{
    content: "...";
}

div.review-action {
    background-color: rgba(6, 99, 175, 0.8);
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    grid-area: star;
    position: absolute;
    right: 9em;
    top: 4.2em;
}

div.review-action:hover {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

div.review-action label h2 {
    padding: 0.8em;
    color: rgb(241, 241, 241);
}

main input[id|=readmore],
main input[id|=review-action] {
    display: none;
}

div.eatery label.readmore {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: grid;
    align-content: end;
    justify-content: center;
}

div.eatery label.readmore h2::after {
    content: "Read Reviews";
}

label:hover h2 {
    color: rgba(6, 99, 175, 0.8);
}

input[id|=readmore]:checked ~ label.readmore h2::after {
    content: "Collapse";
}

input[id|=readmore]:checked ~ div.reviews {
    height: auto;
    overflow: visible;
    margin-bottom: 3em;
}

input[id|=readmore]:checked ~ div.reviews div.review {
    height: auto;
    overflow: visible;
}

input[id|=readmore]:checked ~ div.reviews form {
    height: 0;
    overflow: hidden;
}

input[id|=readmore]:checked ~ div.star-rating div.review-action {
    grid-column: 2 / 4;
}

input[id|=review-action]:checked ~ div.review-action {
    height: 0;
    overflow: hidden;
}

input[id|=review-action]:checked ~ div.reviews {
    height: auto;
    overflow: visible;
    margin-bottom: 3em;
}


input[id|=review-action]:checked ~ div.reviews form {
    height: auto;
    overflow: visible;
}



input[id|=readmore]:not(:checked)
+ input[id|=review-action]:checked ~ div.reviews div.review,
input[id|=review-action]:checked ~ div.star-rating div.review-action,
input[id|=review-action]:not(:checked) ~ div.reviews form {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


div.eatery div.reviews {
    grid-area: reviews;
    justify-self: start;
    height: 0;
    width: 100%;
    margin-bottom: 0;
    overflow: hidden;
}

div.eatery div.reviews div.review {
    margin: 1em 0;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

div.eatery div.reviews div.review div.rating-container {
    font-size: 15px;
    color: rgba(134, 133, 133, 0.3);
    width: 5em;
    justify-self: center;
    position: relative;
}

div.eatery div.reviews div.review div.rating-container span {
    font-size: inherit;
}

div.eatery div.reviews div.review div.rating-container div.rating{
    color: rgb(250, 220, 49);
    position: absolute;
    overflow: hidden;
    --rating-percent: 0%;
    width: var(--rating-percent);
}

div.eatery div.reviews form {
    height: auto;
    margin-bottom: 2em;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    padding: 2em;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

div.eatery div.reviews form div.review-action {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    grid-area: auto;
    transform: initial;
}

div.eatery div.reviews form div.review-action label {
    display: grid;
    place-items: center;
    position: absolute;
    height: 3em;
    width: 3em;
}

div.eatery div.reviews form div.review-action h2 {
    margin: 0;
    padding: 0;
    color: rgb(241, 241, 241);
}

div.eatery div.reviews form h2 {
    margin-bottom: 0.5em;
    color: rgba(6, 99, 175, 0.8);
}

div.eatery div.reviews form div.review-name {
    grid-column: 1;
    display: flex;
    align-items: center;
}

div.eatery div.reviews form div.review-name label {
    font-size: 1.5em;
}

div.eatery div.reviews form div.review-name input {
    align-self: flex-start;
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid var(--icon-color);
    margin-left: 0.5em;
    padding: 0em 0.5em;
    font-size: 1.2em;
}

div.eatery div.reviews form div.review-name input:focus {
    border-bottom: 1.5px solid rgba(6, 99, 175, 0.8);
}

div.eatery div.reviews form div.review-star-rating {
    grid-column: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

div.eatery div.reviews form div.review-star-rating label.title {
    font-size: 1.5em;
}

div.eatery div.reviews form div.review-star-rating input {
    display: none;
}

div.eatery div.reviews form div.review-star-rating label[class|="rating"] {
    color: rgba(134, 133, 133, 0.3);
}

div.eatery div.reviews form div.review-star-rating label.rating-0 span {
    display: block;
    width: 1em;
    height: 1em;
}

div.eatery div.reviews form div.review-star-rating label[class|="rating"]:hover,
div.eatery div.reviews form div.review-star-rating label[class|="rating"]:hover ~ label[class|="rating"] {
    color: rgb(250, 220, 49);
}

div.eatery div.reviews form div.review-star-rating input:checked ~ label[class|="rating"] {
    color: rgb(250, 220, 49);
}

div.eatery div.reviews form div.review-comment {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
}

div.eatery div.reviews form div.review-comment label {
    font-size: 1.5em;
}

div.eatery div.reviews form div.review-comment textarea {
    height: 10em;
    background-color: rgb(241, 241, 241);
    border: 1.5px solid var(--icon-color);
    font-family: inherit;
    padding: 0.5em;
    font-size: 1.2em;
}

div.eatery div.reviews form div.review-comment textarea:focus {
    border: 1.5px solid rgba(6, 99, 175, 0.8);
}

div.eatery div.reviews form label.review-submit {
    font-size: 1.5em;
    grid-column: 1;
    height: 2em;
    width: 6em;
    color: rgb(241, 241, 241);
    background-color: rgba(6, 99, 175, 0.8);
    display: flex;
    align-items: center;
    border-radius: 2em;
    padding: 0 0.75em;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

div.eatery div.reviews form label.review-submit:hover {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

div.eatery div.reviews form label.review-submit span {
    position: absolute;
    right: 0.75em;
    font-size: 1.2em;
    margin-bottom: 0.15em
}

div.eatery div.reviews form label.review-submit input[id|="review-submit"] {
    display: none;
}
