:root {
    --background-color: rgb(207, 207, 207);
    --icon-color: rgb(63, 63, 63);
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    border: none;
}

label,
label * {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

form * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

form input {
    user-select: initial;
    -moz-user-select: initial;
    -webkit-user-select: initial;
}

span.required {
    color: rgb(187, 3, 3);
}

div.empty {
    height: 20px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 2px 25px rgba(0,0,0,0.3),
                0px 2px 5px rgba(0,0,0,0.5);
    border-radius: 2em;
    display: flex;
    place-content: center;
    align-items: center;
    margin-bottom: 3vh;
    padding: 1em 1.3em;
    white-space: pre-wrap;
}

div.empty span {
    color: rgb(187, 3, 3);
    font-size: 1.5em;
}

.anchor {
  display: block;
  width: 620px;
  height: 230px;
  margin-top: -230px;
}

div.eatery {
    width: auto;
    height: auto;
    background-color: rgb(241, 241, 241);
    border-radius: 2em;
    margin-bottom: 3vh;
    padding-bottom: 1.5em;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.3),
                0px 2px 5px rgba(0,0,0,0.5);
    position: relative;
    display: grid;
    grid-template-columns: 8em 24em 30em;
    grid-template-rows: 6em 3em 5.5em auto 5em;
    grid-template-areas:
                "img name name"
                ". type type"
                ". hours address"
                ". phone website"
                ". star star"
                ;
}

div.img {
    grid-area: img;
    display: grid;
    align-content: end;
    justify-content: center;
}

div.img svg {
    height: 40px;
    width: 40px;
}

div.img circle {
    fill: rgb(52,138,188);
}

div.img path {
    stroke-linecap: round;
    stroke-linejoin: round;
}

div.eatery h1 {
    font-size: 30px;
    margin: 0;
}

div.eatery h2 {
    color: var(--icon-color);
    font-size: 15px;
    margin: 0;
}

div.eatery p, div.eatery span, div.eatery a {
    margin: 0;
    font-size: 15px;
}

div.eatery p {color: var(--icon-color);}

div.name {
    grid-area: name;
    color: var(--icon-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: end;
    gap: 20px;
}

div.type {
    grid-area: type;
    display: flex;
    align-items: center;
}

div.type h2 {
    white-space: pre;
    color: rgb(129, 128, 128)
}

div.type h2 span {
    color: rgb(23, 99, 23);
}

div.hours {
    grid-area: hours;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 1em;
    row-gap: 0.5em;
}

div.hours h2 {
    align-self: end;
    grid-column: 1;
    margin: 0;
}

div.hours p {
    align-self: end;
    grid-column: 2;
}

div.hours span {
    align-self: start;
    grid-column: 2;
}
span.open {
    color: rgb(23, 99, 23);
}
span.closed {
    color: rgb(187, 3, 3);
}

div.address {
    /* padding-bottom: 4.5px; */
    grid-area: address;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    column-gap: 1em;
    row-gap: 0.5em;
}

div.address h2 {
    grid-column: 1;
    align-self: end;
}

div.address a {
    grid-area: 1 / 2 / -1 / -1;
    padding-right: 2em;
    align-self: center;
    line-height: 1.5em;
}

div.website {
    grid-area: website;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1em;
}

div.website a {
    padding-right: 2em;
}

div.phone {
    grid-area: phone;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1em;
}

div.star-rating {
    grid-area: star;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

div.star-rating > h2 {
  margin-right: 0.5em;
}

div.rating-container {
    font-size: 15px;
    color: rgba(134, 133, 133, 0.3);
    width: 5em;
    justify-self: center;
    position: relative;
}

div.rating-desc {
    margin-left: 0.5em;
    font-size: 1.5em;
    color: var(--icon-color);
}

div.rating{
    color: rgb(250, 220, 49);
    position: absolute;
    overflow: hidden;
    --rating-percent: 0%;
    width: var(--rating-percent);
}

div.star-rating form {
  margin-left: 2em;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

div.star-rating form h2 {
  color: rgba(0, 0, 0, 0.363);
  font-weight: 300;
  margin-right: 0.5em;
}

div.star-rating form input {
  display: none;
}

div.review-star-rating {
  display: flex;
  flex-direction: row-reverse;
}

div.review-star-rating label span::after {
  content: "\2606";
  color: rgb(52,138,188);
}

div.review-star-rating label:hover span::after {
  content: "\2605";
}

div.review-star-rating label:hover span::after,
div.review-star-rating label:hover ~ label span::after,
div.review-star-rating input:checked ~ label span::after {
  content: "\2605";
}

div.star-rating form label.review-submit {
  margin-left: 0.5em;
  font-size: 1.5em;
  font-weight: 700;
  grid-column: 1;
  height: 2em;
  color: rgb(241, 241, 241);
  background-color: rgb(52,138,188);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2.0em;
  padding: 0 0.75em;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
